<html class="fontawesome-i2svg-active fontawesome-i2svg-complete">
<main>
<div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

        <h2>User info</h2>
        <%= form_with model: @user, local: true do |f| %>
          <div class="form_group">
            <label for="inputName">Name</label>
            <div><%= f.text_field :name, autofocus: true, id:"inputName", placeholder: @user.name %></div>
          </div>
          <div class="form_group">
            <label for="inputImage">Image</label>
            <div><%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %></div>
          </div>
          <div class="form_group">
            <label for="inputIntroduction">Introduction</label>
            <div><%= f.text_area :introduction, autofocus: true, id:"inputIntroduction"%></div>
          </div>
          <div class="form_group">
            <%= f.submit "Update User" %>
          </div>
        <% end %> 
        
      </div>
    </div>
</div>
</main>
</html>
