<html class="fontawesome-i2svg-active fontawesome-i2svg-complete">
<main>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h1>Editing Book</h1>
        <% if @book.errors.any? %>
          <h3><%= @book.errors.count %> errors prohibited this obj from being saved:</h3>
          <ul>
            <% @book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
            
        <%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>
            <div class="form_group">
                <label for="book_title">Title</label>
                    <div class="book_title"><%= f.text_field :title %></div>
            </div>
            <div class="form_group">
                <label for="book_opinion">Opinion</label>
                    <div class="book_opinion"><%= f.text_area :body %></div>
            </div>
            <div class="form_group">
                <%= f.submit 'Update Book' %>
            </div>
        <% end %>
        
        <%= link_to "Show",book_path(@book.id) %>
            |
        <%= link_to "Back",books_path %>
        </div>
    </div>
</div>
</main>
</html>